body{
    height: 70vh;
    width: 100%;
    margin: 0%;
    padding-top: 8%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: rgb(85, 52, 19);
}
p#text{
    font-size: 400%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(255, 255, 255);
    animation: scale 1s alternate;  
}
@keyframes scale{
    0%{
      font-size: 100%;
    }
    50%{
        font-size: 900%;
    }
    80%{
        font-size: 350%;
    }
    100%{
        font-size: 400%;
    }
  }

a{
    padding: 1px 6px;
    padding-top: 7px;
    margin: 4px;
    appearance: push-button;
    white-space: pre;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: default;
    box-sizing: border-box;
    border-width: 2px;
    border-style: outset;
    border-image: initial;
    font-size: 120%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    background-color: rgb(151, 99, 30);
    height: 40px;
    width: 250px;
}
a:hover{
    background-color: rgb(189, 136, 66)
}
a:active{
    border: 2px solid black;
}
a:hover span {
    display:none
}

a#one:hover:before{
    content: "Main Menu";
}

a#two:hover:before{
    content: "Another battle!";
}

a#three:hover:before{
    content: "Already?";
}
a#one{
    opacity: 100%;
    animation: button1 3s alternate; 
}
a#two{
    opacity: 100%;
    animation: button2 3s alternate; 
}
a#three{
    opacity: 100%;
    animation: button3 3s alternate; 
}
@keyframes button1{
    0%{
      opacity: 0%;
    }
    25%{
        opacity: 0%;
        height: 40px;
        width: 250px;
        font-size: 120%;
        padding-top: 7px;
    }
    30%{
        opacity: 100%;
        height: 60px;
        width: 375px;
        font-size: 180%;
        padding-top: 10.5px;
    }
    50%{
        opacity: 100%;
        height: 40px;
        width: 250px;
        font-size: 120%;
        padding-top: 7px;
    }
  }
  @keyframes button2{
    0%{
        opacity: 0%;
    }
    25%{
        opacity: 0%;
    }
    50%{
        opacity: 0%;
        width: 250px;
        font-size: 120%;
        padding-top: 7px;
    }
    55%{
        opacity: 100%;
        height: 60px;
        width: 375px;
        font-size: 180%;
        padding-top: 10.5px;
    }
    75%{
        opacity: 100%;
        width: 250px;
        font-size: 120%;
        padding-top: 7px;
    }
  }
  @keyframes button3{
    0%{
        opacity: 0%;
    }
    25%{
        opacity: 0%;
    }
    50%{
        opacity: 0%;
    }
    75%{
        opacity: 0%;
        width: 250px;
        font-size: 120%;
        padding-top: 7px;
    }
    80%{
        opacity: 100%;
        height: 60px;
        width: 375px;
        font-size: 180%;
        padding-top: 10.5px;
    }
    100%{
        opacity: 100%;
        width: 250px;
        font-size: 120%;
        padding-top: 7px;
    }
  }