body{
    height: 99.8vh;
    width: 100%;
    margin: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(85, 52, 19);
}
.menu{
    height: 60vh;
    width: 120vh;
    padding: 5px;
    border: 2px solid rgb(32, 20, 2);
    border-radius: 5px;
    position: absolute;
    background-color: rgb(58, 37, 17);
}
form{
    position: relative;
    top: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.button input{
    font-size: 120%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    background-color: rgb(151, 99, 30);
    height: 40px;
    width: 250px;
}
.player_1{
    border: 1px solid white;
}
.player_2{
    border: 1px solid white;
}