html, body {
    height: 100%;
    margin: 0;
}
body {
    background: linear-gradient(rgb(0, 0, 0), rgb(4, 15, 1), black);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 5rem;
}
canvas {
    background-color: green;
    background-image: url("{{url_for('background', filename='background.png')}}");
}

#game {
    background-image: url("{{url_for('background', filename='background.png')}}");
    background-size: cover;
}

#hardWall {
    display: none;
}

#softWall{
    display: none;
}