html, body {
    height: 100%;
    margin: 0;
    box-sizing: border-box;
}
body {
    background: linear-gradient(rgb(0, 0, 0), rgb(4, 15, 1), black);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 5rem;
}

canvas{
    box-shadow: 0 0 2rem rgb(65, 65, 65);
}

#background {
    position: absolute;
    margin: 0 auto;
    z-index: -1;

}
#hardWall {
    display: none;
}

#softWall{
    display: none;
}

#powerUp{
    display: none;
}
p{
    display: none;
}

#sp_blau{
    display: none;
}

#sp_rot{
    display: none;
}
#sp_grün{
    display: none;
}