<!DOCTYPE html>
<html>
<head>
    <title>Main Menu</title>
    <meta charset="UTF-8">     
    <link rel="stylesheet" href="{{url_for('menu_stylesheet', filename='style_menu.css')}}">
</head>
    <body>
        <section class="menu">
            <form class="play" method="POST" action="http://localhost:2020/play">
                <div class="player_1">
                    <input id="img1" name="player[1]" type="checkbox" value="character1">
                    <input id="img2" name="player[1]" type="checkbox" value="character2">
                    <input id="img3" name="player[1]" type="checkbox" value="character3">
                </div>
                <div class="player_2">
                    <input id="img1" name="player[2]" type="checkbox" value="character1">
                    <input id="img2" name="player[2]" type="checkbox" value="character2">
                    <input id="img3" name="player[2]" type="checkbox" value="character3">
                </div>
                <p class="button"><input type="submit" value="Play!"></p>
            </form>
        </section>
    </body>
</html>